apiVersion: 1
datasources:
  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    url: http://monitoring_net:3100
    basicAuth: false
    isDefault: true
    version: 1
    editable: false
    
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://monitoring_net:9090
    basicAuth: false
    isDefault: true
    version: 1
    editable: false
