services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    volumes:
      - ./prometheus/config:/etc/prometheus
      - ./prometheus/data:/prometheus/data
    environment:
      - TZ=Asia/Shanghai
    ports:
      - 9090:9090
  
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    volumes:
      - ./grafana/data:/var/lib/grafana
    environment:
      - TZ=Asia/Shanghai
    ports:
      - 3000:3000