networks:
  monitor-net:
    driver: bridge

include:
  - ./node-exporter/docker-compose.yml
  - ./redis-exporter/docker-compose.yml
  - ./mysql-exporter/docker-compose.yml
  - ./postgres-exporter/docker-compose.yml
  - ./cadvisor/docker-compose.yml

services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    environment:
      - TZ=Asia/Shanghai
      - GF_VIEWER_LANGUAGE="zh-Hans"       # 设置Grafana的语言为简体中文
      - GF_AUTH_ANONYMOUS_ENABLED="true"   # 启用匿名访问
      - GF_AUTH_ANONYMOUS_ORG_ROLE="Admin" # 匿名用户角色设置
      - GF_SECURITY_ALLOW_EMBEDDING="true" # 允许嵌入 Grafana 面板到其他网页
    volumes:
      - ./grafana/config/ds.yaml:/etc/grafana/prom/datasources/ds.yaml:rw
      - ./grafana/data:/var/lib/grafana:rw
    ports:
      - "3000:3000"
    networks:
      - monitor-net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    environment:
      - TZ=Asia/Shanghai
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--storage.tsdb.retention.time=200h"
      - "--web.enable-remote-write-receiver"
      - "--web.enable-lifecycle" # 支持热重载配置
    # ports:
    #   - "9090:9090"
    volumes:
      - ./prometheus/config/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/data:/prometheus:rw
    networks:
      - monitor-net

  loki:
    image: grafana/loki:latest
    container_name: loki
    restart: always
    environment:
      - TZ=Asia/Shanghai
    command:
      - "-config.file=/etc/loki/local-config.yaml"
    volumes:
      - ./loki/config/local-config.yaml:/etc/loki/local-config.yaml:ro
      - ./loki/data:/loki
    # ports:
    #   - "3100:3100"
    networks:
      - monitor-net

  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    restart: always
    environment:
      - TZ=Asia/Shanghai
    # ports:
    #   - 12345:12345 # alloy自身指标端口
    #   - 9093:9093 # alert-manager兼容端口
    command: run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    volumes:
      - ./alloy/config/config.alloy:/etc/alloy/config.alloy:ro
      - ./alloy/data:/var/lib/alloy
    networks:
      - monitor-net

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    environment:
      - TZ=Asia/Shanghai
    restart: always
    volumes:
      # - /var/log:/var/log
      - ./promtail/config/config.yml:/etc/promtail/config.yml
    networks:
      - monitor-net
