networks:
  monitor-net:
    driver: bridge

services:
  grafana:
    image: grafana/grafana:latest
    environment:
      - TZ=Asia/Shanghai
    container_name: grafana
    volumes:
      - ./grafana/config/ds.yaml:/etc/grafana/prom/datasources/ds.yaml:ro
      - ./grafana/data:/var/lib/grafana
    restart: always
    ports:
      - "3000:3000"
    networks:
      - monitor-net

  prometheus:
    image: prom/prometheus:latest
    environment:
      - TZ=Asia/Shanghai
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/config/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/data:/prometheus
    restart: always
    networks:
      - monitor-net

  loki:
    image: grafana/loki:latest
    container_name: loki
    environment:
      - TZ=Asia/Shanghai
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki/config/local-config.yaml:/etc/loki/local-config.yaml:ro
      - ./loki/data:/loki
    ports:
      - "3100:3100"
    restart: always
    networks:
      - monitor-net

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    environment:
      - TZ=Asia/Shanghai
    restart: always
    volumes:
      # - /var/log:/var/log
      - ./promtail/config/config.yml:/etc/promtail/config.yml
    networks:
      - monitor-net

  mysql-exporter:
    image: prom/mysqld-exporter:latest
    container_name: mysql-exporter
    ports:
      - 9104:9104
    volumes:
      - ./config.my-cnf:/.my.cnf
    environment:
      DATA_SOURCE_NAME: "root:root@(192.168.50.201:3306)"
    networks:
      - monitor-net

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    ports:
      - 9100:9100
    networks:
      - monitor-net